/*--------  Profile Cards ------- */

.flex-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 20%;
}

.card {
    margin: 15px;
    width: 40%;
    height: 350px;
    border: 1px solid #4B8584;
}

.words {
    color: #8D8984;
    font-size: 12px;
    padding: 15px;
    display: block;
    margin: auto;
    width: 80%;
}

.ourpic {
    display: block;
    margin: auto;
    padding-top: 15px;
    width: 40%;
}

.card-name {
    margin: auto;
    width: 50%;
    padding-top: 15px;
    text-align: center;
}

.band {
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}