/****  START CSS RESET
       http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /** END reset css **/

/**************** Global CSS ****************/

/* Start Container **/

div.container {
    margin: 0 5%;
    padding: 1% 2.5%;
}

section div.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Main Styles */

body {
    background-color: #D9DEDE;
    color: #8D8984;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4 {
    color: #4B8584;
    font-weight: 700;
    margin-bottom: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
    color: #8D8984;
}

p {
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1.2em;
}

a {
    color: #8D8984;
    text-decoration: none;
}

a:hover {
    color: #4B8584;
}

button {
    padding: 10px 15px;
    background-color: #F7CE06;
    color: #8D8984;
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-radius: 3px;
}

/** Header **/

header, footer {
    background-color: #4B8584;
    color: #F5E8C3;
}

header nav {
    display: inline-block;
    font-size: 1.1rem;
    margin-left: 2.5%;
}

header li {
    display: inline;
}

header a {
    color: #F7CE06;
    font-weight: 800;
    text-decoration: none;
}

header a:hover {
    color: #F5E8C3;
}

.header__link, .footer__link {
    color: #F5E8C3;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.header__link:hover, .footer__link:hover {
    background: linear-gradient(to right,rgba(75, 133, 132, 1) 0%, rgba(121, 204, 201,1) 70%);
}



/* Hero Section */

.hero {
    text-align: center;
    /* background-color: #79CCC9; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,#4B8584 50%,#79CCC9 110%),url("../images/main.jpg");
    background-blend-mode:darken;
    color: #F5E8C3;
}

.hero h1, .hero p {
    max-width: 60%;
    margin: .5em auto;
    margin-bottom: 25px;
}

.hero h1 {
    font-size: 2em;
    font-weight: 700;
    color: #F5E8C3;

}

/* Main Section */

.main button {
    background: linear-gradient(to right,rgba(75, 133, 132, 1) 50%, rgba(121, 204, 201,1) 110%);
    color: #F5E8C3;
}

.main button:hover {
    background: linear-gradient(to right,rgba(75, 133, 132, 1) 0%, rgba(121, 204, 201,1) 70%);
    color: #F7CE06;
}
