.hero {
    padding-bottom: 55px;
}

.cart {
    display: flex;
    flex-direction: column;
    background: #D9DEDE;
    color: #8D8984;
}

.cart header, .cart section {
    display: flex;
    justify-content: space-between;
}

.cart header {
    background: none;
    color: #8D8984;
    font-weight: 700;
}

.cart footer {
    background: rgb(123, 120, 116);
    font-weight: 700;
}

.hero footer p {
    float: right;
    margin-right: 55px;
}

#cartButtons {
    margin-top: 10px;
}

#cartButtons #buttons1 {
    display: inline-block;
    float: left;
}

#cartButtons #buttons2 {
    display: inline-block;
    float: right;
}